.home {
    background-color:gainsboro;
}

/* Remover marcadores da lista e padding do menu */
.menu {
    padding: 0; 
    background-color:gainsboro; 
}

/* Estilizar os itens da lista */
.menu li {
    margin-right: 15px; 
}

/* Estilizar os links */
.menu li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    transition:  0.7s; 
}

/* Efeito de hover nos links */
.menu li a:hover {
    background-color: rgb(124, 102, 102); 
}

fieldset {
    color: rgb(255, 255, 255);
    border-color: gray;
    background-color: #333;
}
legend{
    font-style:oblique;
    color: white;
}

.aluno {
    background-color: rgba(40, 56, 42, 0.699);
}

