.home {
    background-color:white;
}

/* Remover marcadores da lista e padding do menu */
.menu {
    padding: 0; 
    background-color:white; 
}

/* Estilizar os itens da lista */
.menu li {
    margin-right: 15px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilizar os links */
.menu li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    text-align: center;
    transition:  0.7s; 
}
legend{
    color: rgb(174, 43, 226);
    
}
/* Efeito de hover nos links */
.menu li a:hover {
    background-color: rgb(207, 204, 204); 
}

fieldset{
    color: rgb(255, 255, 255);
    border-color: gray;
    background-color: #333;
    display: flex;
    justify-content: center;
    
}

.central{
    text-align: center;
}


.aluno {
    background-color: rgba(40, 56, 42, 0.699);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;

}

fieldset label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    height: 15px;
}
